:root, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}